$primary: darken(#428bca, 20%);
$second : green;

@import "~bootstrap/scss/bootstrap";

.article {
  color: $primary;
  text-align: justify;
  text-justify: inter-word;
  margin-left : 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.grandeIntro {
  height : 10%;
}

.sticky {
  position: sticky;
  top: 0;
}

.connex {
  position: absolute;
  right: 0%;
}
