$primary: darken(#428bca, 20%);
$second : green;

@import "~bootstrap/scss/bootstrap";

.contenuArticle {
  display: flex;
  flex-direction: row;

}

.article {
  display: flex;
  flex-direction: column;
  color: $primary;
  text-align: justify;
  text-justify: inter-word;
  margin-left : 15%;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.photoArticle {
  margin-left: 5%;
  max-width: 50%;
  height: auto;
}

.grandeIntro {
  height : 10%;
}

.fonctionAdmin {
  color : red;
}

.sticky {
  position: sticky;
  top: 0;
}

.connex {
  position: absolute;
  right: 0%;
}

