<div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
        <a class="navbar-brand" href="/">Sols & Murs Concept</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Présentation <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Galerie photos</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nos Produits
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Parquet</a>
                        <a class="dropdown-item" href="#">PVC</a>
                        <a class="dropdown-item" href="#">Carrelage</a>
                        <a class="dropdown-item" href="#">Dalle</a>
                        <a class="dropdown-item" href="#">Peinture</a>
                        <a class="dropdown-item" href="#">Bains</a>
                    </div>
                </li>
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">S'inscire</a>
                </li>
                <li class="nav-item connex">
                    <a class="nav-link" href="/login">S'identifier</a>
                </li>
                {% endif %}
                <li>
                    {% if app.user %}
                        <div class="mb-3 connex">
                            Vous etes connecté en tant que {{ app.user.username }}

                            {% if is_granted('ROLE_TECH') %}
                                /TECH
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                /ADMIN
                            {% endif %}


                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>
